* {
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 3px;
}
#header {
    width: 100%;    
    height: 100px;
}
#main {
    display: flex;
}

#sections {
    width: 200px;
    background-color: rgb(206, 195, 236);
}

#container {
    width: 100%;
}
